@import "../../styles/config";

  .services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7.5rem;
    @media (max-width: $breakpoint-medium) {
      grid-gap: 1.875rem;
    }
    @media (max-width: $breakpoint-small) {
      grid-template-columns: repeat(1, 1fr);
    }
    .services-item{
      display: flex;
      flex-direction: column;
      .services-header {
        min-height: 9rem;
        @media (max-width: $breakpoint-small) {
          min-height: inherit;
        }
      }
      .services-content{
        padding:  0 0 2.5rem;
        @media (max-width: $breakpoint-small) {
          padding:  0 0 1rem;
        }
      }
      span{
        font-size: $font-size-16;
        font-weight: $semiBold;
        letter-spacing: 0.03rem;
        display: block;
        margin: 0 0 0.625rem 0;
      }
      h3{
        margin: 0 0 2.5rem;
        @media (max-width: $breakpoint-medium) {
          font-size: $font-size-28;
        }
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-24;
        }
        @media (max-width: $breakpoint-very-small) {
          font-size: $font-size-22;
          margin: 0 0 1.5625rem;
        }
      }
      p{
        font-size: $font-size-16;
        font-weight: $normal;
        letter-spacing: 0.03rem;
        opacity: 0.6;
        line-height: 1.5;
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-14;
        }
      }
      ul{
        @media (max-width: $breakpoint-small) {
          margin-bottom: 0;
        }
        li{
          font-size: $font-size-20;
          line-height: 1.5;
          letter-spacing: 0.03rem;
          font-weight: $medium;
          padding: 1rem 0;
          color: $white-color;
          @media (max-width: $breakpoint-small) {
            font-size: $font-size-14;
            padding: 0.5rem 0;
          }
        }
      }      
    }
  }