@import "../../styles/config";
.TeamPage{
  .pageheader.innerpage--content{
    .header-content{
      max-width: 68.75rem;
    }
  }
  .meetTeam-section{
    h2{
      margin: 0;
      @media (max-width:$breakpoint-large){
        font-size: $font-size-40;
      }
      @media (max-width:$breakpoint-medium){
        font-size: $font-size-30;
      }
      @media (max-width:$breakpoint-small){
        font-size: $font-size-28;
      }
      @media (max-width:$breakpoint-medium-small){
        font-size: $font-size-24;
      }
      @media (max-width:$breakpoint-very-small){
        font-size: $font-size-22;
      }
    }
  }
  .teamInfo-row{
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 0 0;
    @media (max-width: $breakpoint-extra-large){
      padding: 5.5rem 0 0;
    }
    @media (max-width: $breakpoint-large){
      padding: 4.5rem 0 0;
    }
    @media (max-width: $breakpoint-medium){
      flex-direction: column;
      padding: 3.5rem 0 0;
    }
    @media (max-width: $breakpoint-medium){
      padding: 3rem 0 0;
    }
    @media (max-width: $breakpoint-small){
      padding: 2.5rem 0 0;
    }
    @media (max-width: $breakpoint-very-small){
      padding: 1.5rem 0 0;
    }
    .team-info{
      width: 44%;
      @media (max-width: $breakpoint-medium){
        width: 100%;
      }
      h6{
        font-size: $font-size-20;
        letter-spacing: 0.085em;
        line-height: 1.3;
        font-weight: 700;
        padding: 0;
        margin: 0 0 5px;
        @media (max-width:$breakpoint-small){
          font-size: $font-size-18;
        }
        @media (max-width:$breakpoint-very-small){
          font-size: $font-size-16;
        }
      }
      span{
        display: block;
        font-size: $font-size-14;
        letter-spacing: 0.085em;
        line-height: 1.3;
        font-weight: 300;
        padding: 0;
        margin: 0;
        opacity: 0.6;
        @media (max-width:$breakpoint-very-small){
          font-size: $font-size-12;
        }
      }
      p{
        font-size: $font-size-16;
        margin: 1.5625rem 0 0;
        padding: 0;
        @media (max-width:$breakpoint-medium){
          margin: 1.3em 0 0; 
        }
        @media (max-width:$breakpoint-very-small){
          font-size: $font-size-14;
        }
      }
      p.infoText{
        letter-spacing: 0.1em;
        color: #000000;
      }
    }
    .team-photo{
      width: 52%;
      @media (max-width: $breakpoint-medium){
        width: 100%;
        margin: 1.563em 0 0;
      }
      background: #F3F7FB;
      text-align: right;
      .gatsby-image-wrapper{
        max-width: 60%;
        margin-left: auto;
      }
    }    
    &:nth-child(odd){
        flex-direction: row-reverse;
        @media (max-width:$breakpoint-medium){
          flex-direction: column;
        }
        .team-info{
          text-align: right;
        }
         .team-photo{
           text-align: left;
           .gatsby-image-wrapper{
            margin-left: 0;
           margin-right: auto;
           }           
         }
    }
  }
}
