@import "../../styles/config";
.postcategories-navcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  input[type='text'] {
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-size: $font-size-14;
    font-weight: $normal;
    color: black;
    box-shadow: none;
    border: 0.5px solid #000EE6;
    max-width: 16.25rem;
    margin-left: auto;
    margin-top: 1.5625rem;
    &::placeholder {
      color: black;
      opacity: 0.4;
    }    
  }
}
.postcategoriesnav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  max-width: 40.625rem;

  a{
    text-decoration: none;
    font-size: $font-size-14;
    font-weight: $medium;
    padding: 0;
    color: $black-color;
    letter-spacing: 0.04em;
    margin-right: 3.125rem;
    margin-top: 1.5625rem;
  }
}

@media (max-width: $breakpoint-small) {
  .postcategoriesnav input[type='text'] {
    position: relative;
    width: 100%;
  }
}
