.svgicon {
  height: 5.6rem;
  width: 5.6rem;
  position: relative;
  display: inline-block;
  background: lightblue;
  border-radius: 50%;
  transition: 0.3s ease all;

  .svgicon--icon {
    position: absolute;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background: whitesmoke;
    height: 60%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease all;
  }

  &:hover {
    background: yellow;

    .svgicon--icon {
      background: purple;
    }
    
  }

}

