.navlink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
  & + .navlink {
    margin-left: 1rem;
  }
  &:hover,
  &.active,
  &:focus {
    color: var(--primary);
    border-bottom-color: currentColor;
    outline: 0;
    box-shadow: none;
  }
}

