@import "../../styles/config";

  .services-rowSection{
    padding: 6.25rem 0;
    @media (max-width:$breakpoint-extra-large){
      padding: 6rem 0;
    }
    @media (max-width:$breakpoint-large){
      padding: 5rem 0;
    }
    @media (max-width:$breakpoint-medium){
      padding: 4rem 0;
    }
    @media (max-width:$breakpoint-small){
      padding: 3rem 0;
    }
    @media (max-width:$breakpoint-very-small){
      padding: 2.5rem 0;
    }
    .services-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3.125rem;
      align-items: center;
      padding: 0;      
      @media (max-width : $breakpoint-medium){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
      }
      .services-content{
        position: relative;
        padding: 6.25rem 0 0 4.375rem;
        direction: ltr;
        @media (max-width : $breakpoint-large){
          padding: 6rem 0 0 3rem;
        }
        @media (max-width : $breakpoint-medium){
          padding: 6rem 0 0 0;
        }
        @media (max-width : $breakpoint-very-small){
          padding: 4rem 0 0 0;
        }
        p{
          font-size: $font-size-18;
          direction: ltr;
          @media (max-width : $breakpoint-small){
            font-size: $font-size-16;
          }
          @media (max-width : $breakpoint-very-small){
            font-size: $font-size-14;
          }
        }
        h2{
          @media (max-width : $breakpoint-small){
            font-size: $font-size-40;
          }
          @media (max-width : $breakpoint-medium-small){
            font-size: $font-size-30;
          }
          @media (max-width : $breakpoint-very-small){
            font-size: $font-size-28;
          }
        }
        .button{
          margin: 1.875rem 0 0;
        }
        .numberStyle{
          font-size: 9.375rem;
          opacity: 0.1;
          color: #000000;
          position: absolute;
          left: 0;
          top: 0;
          font-weight: bold;
          @media(max-width : $breakpoint-very-small){
            font-size: 6.25rem;
          }
        }
      }
      .services-provide{
        position: relative;
        text-align: center;
        @media (max-width : $breakpoint-medium){
          text-align: left;
        }
        .button-item{
          display: inline-block;
        }
        .button{
          font-weight: $medium;
          font-size: $font-size-20;
          height: 4.6875rem;
          border-radius: 2.5rem;
          min-width: 16.875rem;
          justify-content: center;
          margin: 1rem;
          background-color: $white-color;
          @media (max-width : $breakpoint-large){
            font-size: $font-size-18;
            height: 4rem;
            min-width: 14rem;
            margin: 0.9rem;
          }
          @media (max-width : $breakpoint-medium){
            font-size: $font-size-16;
            height: 3.5rem;
            min-width: 12rem;
            margin: 0.8rem;
          }
          @media (max-width : $breakpoint-small){
            font-size: $font-size-14;
            height: 3rem;
            min-width: 8rem;
            margin: 0.7rem;
          }
          @media (max-width : $breakpoint-very-small){
            font-size: $font-size-12;
            height: 2.5rem;
            min-width: 5.875rem;
            margin: 0.5rem;
          }
        }
        &:after{
          content: "";
          display: block;
          width: 25rem;
          height: 25rem;
          border-radius: 50%;
          background: #F3F7FB;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: -1;
          @media (max-width : $breakpoint-medium){
            content: none;
          }
        }
      }
      &.row-reverse{
        flex-direction: row-reverse;
        @media (max-width : $breakpoint-medium){
          display: flex;
          flex-direction: column-reverse;
        }
      }
      &.services-row-withImage{
        direction: ltr;
        @media (max-width : $breakpoint-medium){
          display: flex;
          flex-direction: column-reverse;
        }
        .services-content{
          padding: 0;
        }
      }
    }
    &.lightBackground,
    &:nth-child(even){
      background: #F3F7FB;
      .services-row{
        direction: rtl;
        text-align: left;
        .services-content{
          .button{
            flex-direction: row-reverse;
          }
        }
      }
    }
  }