@import "../../styles/config";

.home {
  .pageheader {
    .header-content {
      // padding-top: 21.875rem;
      // @media (max-width:$breakpoint-extra-large){
      //   padding-top: 19rem;
      // } 	
      // @media (max-width:$breakpoint-large){
      //   padding-top: 17rem;
      // }   	
      // @media (max-width:$breakpoint-medium){
      //   padding-top: 15rem;
      // }
      // @media (max-width:$breakpoint-small){
      //   padding-top: 13rem;
      // }
      // @media (max-width:$breakpoint-medium-small){
      //   padding-top: 10rem;
      // }
      // @media (max-width:$breakpoint-very-small){
      //   padding-top: 8rem;
      // }
      .content {
        h1 {
          strong {
            font-weight: 700;
          }
        }
      }
      .button {
        margin-top: 2.813rem;
        @media (max-width: $breakpoint-medium) {
          margin-top: 2.5rem;
        }
        @media (max-width: $breakpoint-small) {
          margin-top: 2.3rem;
        }
        @media (max-width: $breakpoint-medium-small) {
          margin-top: 2rem;
        }
      }
      p {
        max-width: 60%;
        width: 100%;
        @media (max-width: $breakpoint-medium) {
          max-width: 100%;
        }
      }
    }
    .banner-image {
      border-radius: 0;
    }
  }
  section {
    .top-content {
      h6 {
        opacity: 0.5;
        font-weight: 500;
        @media (max-width:$breakpoint-medium){
          font-size: $font-size-18;
        }
        @media (max-width:$breakpoint-small){
          font-size: $font-size-16;
        }
        @media (max-width:$breakpoint-very-small){
          font-size: $font-size-14;
        }
      }
    }
    .bottom-content {
      margin: 2.8125rem 0 0;
      @media (max-width: $breakpoint-small) {
        margin: 1.875rem 0 0;
      }
    }
    &.Blogs{
      .blogs_container{
        .blog-item{
          .blog-content{
            h6{
              font-weight: 500;
              line-height: 1.4;
            }
            .profile-header{
              .profile-content{
                p{
                  font-size: $font-size-12;
                  font-weight: 500;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
    .work_container{
      .work-iten{
        .work-content{
          p{
            font-weight: 500;
          }
        }
      }
    }
  }
}
