@import "../../styles/config";
.reviews-online{
    padding: 3.75rem 6.25rem;
    display: flex;
    align-items: center;
    border-radius: 0.625rem;
    @media (max-width: $breakpoint-medium) {
      padding: 3.75rem 3.125rem;
    }
    @media (max-width: $breakpoint-small) {
      display: block;
      padding: 3.125rem 1.5625rem;
    }
    p{
      opacity: 0.5;
      line-height: 1.88;
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-12;
        line-height: 1.33;
      }
    }
    .left{
      max-width: 34.8125rem;
      margin-right: 1.875rem;
      @media (max-width: $breakpoint-medium) {
        max-width: 31.8125rem;
        margin: 0 0 1.875rem;
      }
      @media (max-width: $breakpoint-small) {
        max-width: 100%;
        margin: 0 0 1.5rem;
      }
      h3{
        font-weight: $semiBold;
        line-height: 1.26;
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-18;
          margin-bottom: 1rem;
        }
        em, i{
          color: #FFCE31;
          font-style: normal;
          font-size: 4rem;
          line-height: 0;
          vertical-align: middle;
          @media (max-width : $breakpoint-small){
            font-size: 3rem;
          }
          @media (max-width : $breakpoint-medium-small){
            font-size: 2rem;
          }
        }
      }
      .content{
        p{
          font-size: $font-size-18;
          font-weight: 500;	
          @media (max-width:$breakpoint-medium){
            font-size: $font-size-16;
          }
          @media (max-width:$breakpoint-medium-small){
            font-size: $font-size-14;
          }
        }
      }
    }
    .button{
      margin: 0 0 0 auto;
      font-size: $font-size-16;
      @media (max-width:$breakpoint-medium){
        font-size: $font-size-14;
      }
      @media (max-width:$breakpoint-very-small){
        font-size: $font-size-12;
      }
    }
}