@import "config";

html {
  box-sizing: border-box;
  font-size: 100%;
  min-height: 100%;
  background: var(--lightGrey);
  @media (max-width: $breakpoint-extra-large) {
    font-size: 85%;
  }
  @media (max-width: $breakpoint-large) {
    font-size: 80%;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 75%;
  }
  @media (max-width: $breakpoint-small) {
    font-size: 100%;
  }
  // @media (max-width: $breakpoint-extra-small) {
  //  font-size: 80%;
  // }
}

body {
  font-family: $baseFont;
  min-height: 100vh;
  position: relative;
  color: hsla(0, 0%, 0%, 0.7);
  font-size: $font-size-20;
  font-family: $baseFont;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  letter-spacing: 0;
  line-height: 1.25;
  background: #fff;
  @media (max-width: $breakpoint-small) {
    font-size: $font-size-14;
  }
}

a {
  color: var(--primary);
}
a:hover {
  color: $blue-color;
}
.blue-container a:hover {
  color: $yellow-color;
}
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.25rem;
}
h1 {
  font-size: $font-size-80;
  color: hsla(0, 0%, 0%, 0.8);
  @media (max-width: $breakpoint-small) {
    font-size: $font-size-30;
    margin-bottom: 0.875rem;
  }
  @media (max-width: $breakpoint-medium-small) {
    font-size: $font-size-28;
  }
}
h2 {
  font-size: $font-size-48;
  font-weight: $weight-bold;
  color: $black-color;
  @media (max-width: $breakpoint-medium-small) {
    font-size: $font-size-30;
  }
}
h3 {
  font-size: $font-size-30;
  font-weight: $weight-bold;
  color: $black-color;
  @media (max-width: $breakpoint-small) {
    font-size: $font-size-18;
  }
}
h4 {
  font-size: $font-size-24;
  font-weight: $weight-bold;
  color: $black-color;
}
h5 {
  font-size: $font-size-22;
  font-weight: $medium;
  color: $black-color;
  letter-spacing: 0.01em;
  @media (max-width: $breakpoint-small) {
    font-size: $font-size-18;
  }
}
h6 {
  font-size: $font-size-20;
  color: $black-color;
  font-weight: $weight-bold;
  margin-bottom: 1.25rem;
}
p {
  line-height: 1.8;
  letter-spacing: 0.025em;
  margin-top: 0;
  margin-bottom: 1.25rem;
  &:last-child {
    margin-bottom: 0;
  }
}

p.small {
  font-size: $font-size-14;
  font-weight: $weight-normal;
  margin: 0;
  padding: 0;
}
p.bold,
.bold {
  font-weight: $weight-bold;
}
p.italic {
  font-style: $italic;
}
ul {
  padding: 0;
  margin: 0 0 1.25rem 1.5625rem;
  li {
    font-size: $font-size-20;
    font-weight: $weight-normal;
    color: $navBlue-color;
    padding: 0.5rem 0;
  }
}
code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

pre {
  code {
    font-size: inherit;
    &:before,
    &:after {
      display: none;
    }
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}
.button {
  background: $blue-color;
  display: inline-flex;
  align-items: center;
  color: $white-color;
  font-size: $font-size-14;
  padding: 0.625rem 1.5625rem;
  height: 3.125rem;
  border: 1px solid $blue-color;
  cursor: pointer;
  border-radius: 1.5625rem;
  font-weight: $semiBold;
  text-decoration: none;
  @media (max-width: $breakpoint-small) {
    font-size: $font-size-12;
    height: 2.5rem;
  }
  &:hover {
    color: $white-color;
  }
  &.btnIcon {
    position: relative;
    &::after {
      content: "";
      display: block;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 1.5625rem;
      height: 1.5625rem;
      margin-left: 1.5625rem;
      @media (max-width: $breakpoint-small) {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.625rem;
      }
    }
  }
  &.button-outline {
    background-color: transparent;
    color: $blue-color;
  }
  &.blackStyle {
    background: $black-color;
    border-color: $black-color;
  }
  &.whiteStyle {
    background: $white-color;
    color: $black-color;
    border: 1px solid $white-color;
    &::after {
      background-image: url("../img/arrow-black.svg");
    }
  }
}
.dark {
  .button {
    background: $white-color;
    color: $black-color;
    border: 1px solid $white-color;
    &::after {
      background-image: url("../img/arrow-black.svg");
    }
  }
}
input:not([type="checkbox"]),
textarea,
select {
  font-size: $font-size-18;
  color: $black-color;
  height: 2.875rem;
  box-shadow: none;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  letter-spacing: 0.025em;
  outline: 0;
  font-weight: 400;
  margin: 0 0 0.625rem;
  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-16;
    height: 2rem;
    margin: 0 0 0.5rem;
  }
  @media (max-width: $breakpoint-very-small) {
    font-size: $font-size-14;
    height: 1.5rem;
    margin: 0;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $black-color;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $black-color;
  opacity: 0.5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $black-color;
  opacity: 0.5;
}
.frm {
  margin: 1.875rem 0 0.625rem;
}
/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: $black-color;
  color: white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}
.opacity {
  opacity: 0.5;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}
.font-normal {
  font-weight: $normal;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.container {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
}
#gatsby-focus-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Layout */

.section {
  width: 100%;
  padding: 8.125rem 0;
  &.codage {
    @media (max-width: $breakpoint-medium) {
      padding: 1rem 0 3.125rem;
    }
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
    padding: 3.125rem 0;
  }
  &.meetTeam-section {
    @media (max-width: $breakpoint-medium-small) {
      padding-bottom: 0;
    }
  }
  &:last-child {
    border: 0;
  }
  &.thick {
    padding: 10rem 0;
  }
  &.thin {
    padding: 3.5rem 0;
  }
  &.noPadding {
    padding: 0;
  }
}

.top-content {
  padding: 0 0 4.375rem;
  @media (max-width: $breakpoint-extra-large) {
    padding: 0 0 4rem;
  }
  @media (max-width: $breakpoint-large) {
    padding: 0 0 3.5rem;
  }
  @media (max-width: $breakpoint-medium) {
    padding: 0 0 3rem;
  }
  @media (max-width: $breakpoint-small) {
    padding: 0 0 2.5rem;
  }
  @media (max-width: $breakpoint-very-small) {
    padding: 0 0 1.875rem;
  }
  h5 {
    font-size: $font-size-22;
    font-weight: $normal;
    margin-bottom: 1rem;
    letter-spacing: 0.01em;
    color: $black-color;
    @media (max-width: $breakpoint-medium) {
      font-size: $font-size-20;
    }
    @media (max-width: $breakpoint-small) {
      font-size: $font-size-18;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-16;
    }
  }
  // h6 {
  //   font-weight: $normal;
  //   margin-bottom: 1rem;
  //   @media (max-width:$breakpoint-medium){
  //     margin-bottom: 0.7rem;
  //   }
  //   @media (max-width:$breakpoint-small){
  //     margin-bottom: 0.5rem;
  //   }
  // }
  h6 {
    opacity: 0.5;
    font-weight: 500;
    margin-bottom: 1rem;
    @media (max-width:$breakpoint-small){
      margin-bottom: 0.7rem;
    }
    @media (max-width:$breakpoint-very-small){
      margin-bottom: 0.5rem;
    }
  }
  h3 {
    font-weight: 500;
    margin-bottom: 0;
    @media (max-width: $breakpoint-small) {
      font-size: $font-size-16;
    }
    @media (max-width: $breakpoint-medium-small) {
      font-size: $font-size-14;
    }
  }
}
a.explore-link {
  color: $blue-color;
  font-size: $font-size-16;
  font-weight: $medium;
  letter-spacing: 0.03rem;
  text-decoration: none;
  margin: auto 0 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  @media (max-width: $breakpoint-small) {
    font-size: $font-size-12;
  }
  @media (max-width: $breakpoint-medium-small) {
    font-size: $font-size-12;
  }
  &::before {
    content: "";
    background-image: url("../img/arrow-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1rem;
    display: block;
    @media (max-width: $breakpoint-small) {
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }
}
.dark {
  a.explore-link {
    color: $white-color;
    &::before {
      content: "";
      background-image: url("../img/arrow-circle-white.svg");
    }
  }
}

.darkOverlay {
  background: #000000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 56.25rem;
}
main {
  position: relative;
  z-index: 1;
  padding: 0 0 8.125rem;
  &.home {
    padding: 0;
  }
  &.ServicesPage,
  &.company,
  &.TeamPage,
  &.CareerPage,
  &.PortfolioPage,
  &.Approch,
  &.PortfolioInnerPage,
  &.contact {
    @media (max-width: $breakpoint-extra-large) {
      padding: 0 0 8rem;
    }
    @media (max-width: $breakpoint-large) {
      padding: 0 0 7rem;
    }
    @media (max-width: $breakpoint-medium) {
      padding: 0 0 6rem;
    }
    @media (max-width: $breakpoint-small) {
      padding: 0 0 5rem;
    }
    @media (max-width: $breakpoint-medium-small) {
      padding: 0 0 4rem;
    }
    @media (max-width: $breakpoint-very-small) {
      padding: 0 0 3.5rem;
    }
    @media (max-width: $breakpoint-very-small) {
      padding-bottom: 3.125rem;
    }
  }
}

.pageHeader-container {
  background: $black-color;
  .header-content {
    padding: 6.25rem 0 15.9375rem;
    h6 {
      text-transform: uppercase;
      color: $white-color;
      font-size: $font-size-16;
      font-weight: $medium;
    }
  }
}

.services-section {
  h6 {
    margin-bottom: 1rem;
    font-weight: $normal;
    @media (max-width:$breakpoint-medium){
      margin-bottom: 0.7rem;
    }
    @media (max-width:$breakpoint-small){
      margin-bottom: 0.5rem;
    }
  }
  h3 {
    font-weight: $medium;
  }
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7.5rem;
    @media (max-width: $breakpoint-medium) {
      grid-gap: 1.875rem;
    }
    @media (max-width: $breakpoint-small) {
      grid-template-columns: repeat(1, 1fr);
    }
    .services-item {
      display: flex;
      flex-direction: column;
      .services-header {
        min-height: 9rem;
        @media (max-width: $breakpoint-extra-large) {
          min-height: 8.5rem;
        }
        @media (max-width: $breakpoint-large) {
          min-height: 7.5rem;
        }
        @media (max-width: $breakpoint-medium) {
          min-height: 6.5rem;
        }
        @media (max-width: $breakpoint-small) {
          min-height: 5.5rem;
        }
        @media (max-width: $breakpoint-medium-small) {
          min-height: 4.5rem;
        }
        @media (max-width: $breakpoint-very-small) {
          min-height: 3.5rem;
        }
        @media (max-width: $breakpoint-small) {
          min-height: inherit;
        }
      }
      .services-content {
        padding: 0 0 2.5rem;
        @media (max-width: $breakpoint-small) {
          padding: 0 0 1rem;
        }
      }
      span {
        font-size: $font-size-16;
        font-weight: normal;
        letter-spacing: 0.03rem;
        display: block;
        margin: 0 0 0.625rem 0;
      }
      h3 {
        font-size: 2rem;
        margin: 0 0 2.5rem;
        font-weight: $semiBold;
        @media (max-width: $breakpoint-extra-large) {
          font-size: $font-size-30;
          margin: 0 0 2rem;
        }
        @media (max-width: $breakpoint-large) {
          font-size: $font-size-28;
          margin: 0 0 1.5rem;
        }
        @media (max-width: $breakpoint-medium) {
          font-size: $font-size-24;
          margin: 0 0 1rem;
        }
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-22;
          margin: 0 0 1.5625rem;
        }
      }
      p {
        font-size: $font-size-16;
        font-weight: $normal;
        letter-spacing: 0.03rem;
        opacity: 0.6;
        line-height: 1.5;
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-14;
        }
      }
      ul {
        @media (max-width: $breakpoint-small) {
          margin-bottom: 0;
        }
        li {
          font-size: $font-size-20;
          line-height: 1.5;
          letter-spacing: 0.03rem;
          font-weight: $medium;
          padding: 1rem 0;
          color: $white-color;
          @media (max-width: $breakpoint-small) {
            font-size: $font-size-14;
            padding: 0.5rem 0;
          }
        }
      }
    }
  }
}
.dark-container {
  padding: 8.125rem 2.5rem;
  &.dark {
    border-radius: 10px;
    @media (max-width: $breakpoint-extra-large) {
      padding: 7.5rem 2.3rem;
    }
    @media (max-width: $breakpoint-large) {
      padding: 7rem 2rem;
    }
    @media (max-width: $breakpoint-medium) {
      padding: 5rem 2rem;
    }
    @media (max-width: $breakpoint-small) {
      padding: 3rem 1.7rem;
    }
  }
  .dark-content {
    max-width: 64.375rem;
    margin: 0 auto;
    h5 {
      font-size: $font-size-22;
      font-weight: $semiBold;
      line-height: 1.7;
      @media (max-width: $breakpoint-medium) {
        font-size: $font-size-20;
      }
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-18;
      }
      @media (max-width: $breakpoint-very-small) {
        font-size: $font-size-16;
      }
    }
    p {
      font-size: $font-size-18;
      font-weight: $normal;
      letter-spacing: 0.01em;
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-16;
      }
      @media (max-width: $breakpoint-very-small) {
        font-size: $font-size-14;
      }
    }
  }
}
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  h2 {
    margin: 0 4.375rem 0 0;
  }
}
.banner-image {
  border-radius: 0.625rem;
  overflow: hidden;
}
.banner-container {
  position: relative;
  &::before {
    content: "";
    display: block;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-bottom: 17.125%;
  }
}
.social {
  display: flex;
  align-items: center;
  margin: 2.5rem 0 2.5rem;
  a {
    height: 1.875rem;
    width: 1.875rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    margin: 0 2.5rem 0 0;
    &.facebook {
      background-image: url("../img/facebook.svg");
    }
    &.insta {
      background-image: url("../img/instagram.svg");
    }
    &.twitter {
      background-image: url("../img/twitter.svg");
    }
    &.linkdin {
      background-image: url("../img/linkdin.svg");
    }
  }
}
.buttons-group {
  display: flex;
  @media (max-width: $breakpoint-medium) {
    margin: 1.5em 0 0;
  }
  .ButtonItem {
    @media (max-width: $breakpoint-medium) {
      padding-left: 0;
    }
    &:first-child {
      padding-left: 0;
    }
    & + .ButtonItem {
      margin-left: 1.875rem;
      @media (max-width: $breakpoint-small) {
        margin-left: 0.625rem;
      }
    }
    @media (max-width: $breakpoint-small) {
      padding: 0.625rem 1rem;
    }
  }
}
.isShowMobile {
  display: none !important;
  @media (max-width: $breakpoint-small) {
    display: block !important;
  }
}
.isShowDesktop {
  @media (max-width: $breakpoint-small) {
    display: none !important;
  }
}
