@import "../../styles/config";

.content{
  em,
  span{
    color: $lightpink-color;
    font-style: normal;
  }
  a{
    font-weight: $weight-bold;
  }
  ol{
    li{
      font-size: 1.25rem;
    }
  }
}
.content--image,
.content img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 2.5rem;
}

.content--iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
