@import "./src/styles/_config";
.contact-info {
  padding: 11.5rem 0 4.375rem;
  @media (max-width: $breakpoint-extra-large) {
    padding: 10rem 0 4rem;
  }
  @media (max-width: $breakpoint-large) {
    padding: 8rem 0 3.7rem;
  }
  @media (max-width: $breakpoint-medium) {
    padding: 6rem 0 3.5rem;
  }
  @media (max-width: $breakpoint-small) {
    padding: 5rem 0 3.3rem;
  }
  @media (max-width: $breakpoint-very-small) {
    padding: 4.375rem 0 3.125rem;
  }
  .contact-row {
    margin: 3.125rem 0 3.125rem;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
    @media (max-width: $breakpoint-large) {
      margin: 2.7rem 0 2.7rem;
    }
    @media (max-width: $breakpoint-medium) {
      margin: 2.3rem 0 2.3rem;
    }
    @media (max-width: $breakpoint-small) {
      margin: 2rem 0 2rem;
    }
    @media (max-width: $breakpoint-very-small) {
      margin: 1.875rem 0 1.875rem;
    }
  }
  h1 {
    color: $black-color;
    font-size: 8.125rem;
    margin-bottom: 4.375rem;
    line-height: 1;
    @media (max-width: $breakpoint-extra-large) {
      font-size: 7.7rem;
      margin-bottom: 4rem;
    }
    @media (max-width: $breakpoint-large) {
      font-size: 7.5rem;
      margin-bottom: 3.5rem;
    }
    @media (max-width: $breakpoint-medium) {
      font-size: 6.5rem;
      margin-bottom: 3rem;
    }
    @media (max-width: $breakpoint-small) {
      font-size: 6rem;
      margin-bottom: 2.3rem;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: 5.625rem;
      margin-bottom: 1.85rem;
    }
  }
  h5 {
    letter-spacing: 0.025em;
    line-height: 1.22;
    font-weight: 400;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding: 0 0 0.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: $font-size-22;
    @media (max-width: $breakpoint-medium) {
      font-size: $font-size-20;
    }
    @media (max-width: $breakpoint-small) {
      font-size: $font-size-18;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-16;
    }
  }
  h6 {
    font-size: $font-size-18;
    letter-spacing: 0.025em;
    font-weight: 500;
    margin-bottom: 0.938rem;
    &:not(.title) {
      @media (max-width: $breakpoint-medium) {
        font-size: $font-size-16;
      }
    }
    @media (max-width: $breakpoint-very-small) {
      margin-bottom: 0.625rem;
    }
  }
  p {
    font-size: $font-size-16;
    line-height: 1.5625;
    font-weight: 400;
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-14;
    }
  }
  a {
    text-decoration: none;
  }
  a.link-directions {
    opacity: 0.5;
    border-bottom: 1px solid #000ee6;
    line-height: 1.8;
    display: inline-block;
  }
  .timeRow {
    display: flex;
    margin: 0 0 3px;
    .time-label {
      min-width: 8.125rem;
      p {
        color: #000;
      }
    }
    p {
      padding: 0;
      margin: 0;
      line-height: 1.5625;
    }
  }
}
.tackle_brand-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.contactForm-container {
  max-width: 47.25rem;
  margin: 0 auto;
  padding: 8.125rem 0 0;
  @media (max-width: $breakpoint-extra-large) {
    padding: 7rem 0 0;
  }
  @media (max-width: $breakpoint-large) {
    padding: 6rem 0 0;
  }
  @media (max-width: $breakpoint-medium) {
    padding: 5rem 0 0;
  }
  @media (max-width: $breakpoint-small) {
    padding: 4rem 0 0;
  }
  @media (max-width: $breakpoint-very-small) {
    padding: 3.125rem 0 0;
  }
  h2 {
    margin: 0 0 1rem;
    font-weight: 500;
    @media (max-width: $breakpoint-extra-large) {
      font-size: $font-size-40;
    }
    @media (max-width: $breakpoint-large) {
      font-size: $font-size-28;
    }
    @media (max-width: $breakpoint-medium) {
      font-size: $font-size-24;
      margin: 0 0 0.7rem;
    }
    @media (max-width: $breakpoint-small) {
      font-size: $font-size-22;
    }
    @media (max-width: $breakpoint-medium-small) {
      font-size: $font-size-20;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-18;
      margin: 0 0 0.5rem;
    }
  }
  h4 {
    @media (max-width: $breakpoint-large) {
      font-size: $font-size-22;
    }
    @media (max-width: $breakpoint-medium) {
      font-size: $font-size-20;
    }
    @media (max-width: $breakpoint-small) {
      font-size: $font-size-18;
    }
    @media (max-width: $breakpoint-medium-small) {
      font-size: $font-size-16;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-14;
    }
  }
  .contactForm {
    padding: 2.5rem 0 0;
    @media (max-width: $breakpoint-large) {
      padding: 2.3rem 0 0;
    }
    @media (max-width: $breakpoint-medium) {
      padding: 2rem 0 0;
    }
    @media (max-width: $breakpoint-small) {
      padding: 1.5rem 0 0;
    }
    @media (max-width: $breakpoint-medium-small) {
      padding: 1.3rem 0 0;
    }
    @media (max-width: $breakpoint-very-small) {
      padding: 1rem 0 0;
    }
    .frm {
      //    margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
    }
    .checkbox {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        margin: 0 0.75rem 0 0;
      }
      // ------------------------
      .auth-check-wrap {
        position: relative;
        .auth-checkbox {
          height: 15px;
          width: 15px;
          background-color: transparent;
          display: inline-block;
          cursor: pointer;
          transition: all 0.4s ease;
          z-index: 0;
          position: relative;
          border: 1px solid $black-color;
          &:after {
            content: "";
            width: 4px;
            height: 8px;
            border-bottom: 1.5px solid $black-color;
            border-right: 1.5px solid $black-color;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotateZ(40deg);
            opacity: 0;
          }
        }
        input:checked ~ .auth-checkbox {
          background-color: $white-color;
        }
        input:checked ~ .auth-checkbox:after {
          opacity: 1;
        }
        input {
          position: absolute;
          z-index: 9;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          height: 15px;
          width: 15px;
        }
      }
      .checkbox-lable {
        font-size: $font-size-16;
        line-height: 1.25;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $black-color;
        margin-left: 0.5rem;
        a {
          font-weight: 600;
        }
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-14;
        }
        @media (max-width: $breakpoint-very-small) {
          font-size: $font-size-12;
        }
      }
      
    }
  }
}
.form-control.error{
  background-color: #ffdddd;
}
.form-buttom {
  margin: 2.8125rem 0 0;
  @media (max-width: $breakpoint-small) {
    margin: 2.5rem 0 0;
  }
  @media (max-width: $breakpoint-very-small) {
    margin: 2.3rem 0 0;
  }
  .button {
    font-size: $font-size-16;
    font-weight: $semiBold;
    width: 100%;
    justify-content: center;
    @media (max-width: $breakpoint-small) {
      font-size: $font-size-14;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-12;
    }
  }
  p.small-text {
    font-size: $font-size-12;
    line-height: 1.16;
    letter-spacing: 0.05em;
    font-weight: 300;
    margin: 1.5625rem 0 0;
    a {
      color: #000;
      text-decoration: none;
      font-weight: $semiBold;
    }
    @media (max-width: $breakpoint-very-small) {
      font-size: $font-size-10;
    }
  }
}
