.logo{
    max-width: 14.375rem;
    .logo-white{
      display: none;
    }
  }
  .navLightStyle{
    background: #000000;
    .logo-black{
      display: none;
    }
    .logo-white{
      display: block;
    }    
  }
  .navDarkStyle{
    .nav-active{
      .logo{
          .logo-black{
            display: none;
          }
           .logo-white{
            display: inline-block;
          }
        }
    }
  }