@import "../../styles/config";
.postcard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  .postCard--image {
    border-radius: 0.625rem;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .postcard--author{
    display: flex;
    align-items: center;
    margin: 0 0 1.5625rem;
    @media (max-width: $breakpoint-small) {   
      margin: 0 0 1.25rem;
    }
    .profile-image{
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
      overflow: hidden;
      @media (max-width: $breakpoint-small) {   
        width: 2.8125rem;
        height: 2.8125rem;
      }
      .gatsby-image-wrapper{
        width: 100%;
        height: 100%;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .postcard--authorcontent{
      h6{
        font-size: $font-size-16;
        font-weight: 500;
        line-height: 1.4;
        line-height: 2;
        color: $black-color;
        margin: 0;
        padding: 0;
        @media (max-width: $breakpoint-small) {   
          font-size: $font-size-14;
          line-height: 1.2
        }
      }
      p{
        font-size: $font-size-12;
        font-weight: $normal;
        margin: 0;
        padding: 0;
        @media (max-width: $breakpoint-small) {   
          font-size: $font-size-10;
        }
      }
    }
    .postcard-date{
        font-size: $font-size-12;
        font-weight: $normal;
        margin: 0 0 0 auto;
        padding: 0;
        letter-spacing: 0.01em;
        color: $black-color;
        opacity: 0.5;
        text-align: right;
        @media (max-width: $breakpoint-small) {   
          font-size: $font-size-10;
        }
    }
  }
  .postcard--content {
    padding: 1.875rem 0;
    @media (max-width: $breakpoint-small) {
      padding: 1.25rem 0 0;
    }
    .postcard--title{
      font-size: $font-size-22;
      font-weight: 500;
      line-height: 1.3;
      color: $black-color;
      margin: 0;
      padding: 0;
      letter-spacing: 0.01em;
      @media (max-width: $breakpoint-small) {   
        font-size: $font-size-14;
        line-height: 1.2
      }
    }
  }
  a.explore-link{
    margin: auto 0 0;
  }
}
