@import "../../styles/config";

.blog--headercontent{
  .header-content{
    padding: 3.125rem 0;
    max-width: 43rem;
    letter-spacing: 0.04em;
    h2{
      font-weight: 300;
      font-family: $baseFont;
      b, strong{
        font-weight: 600;
      }
    }
    p{
      font-size: $font-size-12;
      font-weight: 300;
    }
  }
  .header-content-row{
    display: flex;
    justify-content: space-between;
    .header-content{
      &.right{
        max-width: 26.875rem;
      }
    }
  }
  .recent-heading{
    margin: 1.25rem 0 0;
    position: relative;
    h5{
      display: inline-block;
      background: #fff;
      margin: 0;
      position: relative;
      z-index: 1;
      padding: 0 5rem 0 0;
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background: rgba($color: #000000, $alpha: 0.2)
    }
  }
}
