@import "../../styles/config";
.pageheader {
  &.innerpage--content{
    .header-content{
      h2{
        color: $white-color;
      }
    }
  }
  .header-content {
    max-width: 55rem;
    margin: 0;
    padding: 8.125rem 0 0;
    position: relative;
    z-index: 1;
    margin-bottom: -1.45rem;
    @media (max-width: $breakpoint-small) {
      padding: 3.125rem 0 0;
      margin-bottom: -1.25rem;
    }
    h1 {
      font-weight: normal;
    }
    h2 {
      letter-spacing: 0.01em;
      line-height: 1.25;
      font-weight: 500;
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-28;
      }
    }
    //for home page
    .button {
      margin-top: 1.25rem;
      @media (max-width: $breakpoint-small) {
        margin-top: 0.625rem;
      }
    }
    // -------for inner page button group------------------//
    .buttons-group {
      @media (max-width: $breakpoint-medium) {
        margin: 1.5em 0 0;
      }
      @media (max-width: $breakpoint-small) {
        margin: 1.3em 0 0;
      }
      .ButtonItem {
        @media (max-width: $breakpoint-medium) {
          padding-left: 0;
        }
        &:first-child {
          padding-left: 0;
        }
        .button {
          margin-top: 1.25rem;
          margin-bottom: 0;
          @media (max-width: $breakpoint-medium) {
            margin-top: 0;
          }
        }
      }
    }
    // -------for inner page button group------------------//
    p {
      font-size: $font-size-20;
      letter-spacing: 0.025em;
      opacity: 0.7;
      line-height: 1.5625;
      font-weight: normal;
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-16;
      }
      @media (max-width: $breakpoint-medium-small) {
        font-size: $font-size-14;
      }
    }
    &.main-header-content {
      max-width: 73.75rem;
      margin: 0 auto;
    }
  }
  &.pageheader-dark {
    background: #000000;
    * {
      color: #fff;
    }
    .header-content {
      p {
        opacity: 1;
      }
      .buttons-group {
        margin: 1.875rem 0 0;
        @media (max-width: $breakpoint-medium) {
          margin: 1.5em 0 0;
        }
        @media (max-width: $breakpoint-small) {
          margin: 1.3em 0 0;
        }
        .button.whiteStyle {
          color: #000;
        }
      }
    }
  }
  &.innerpage--content {
    .header-content {
      padding: 8.125rem 0 6.25rem;
      // max-width: 37.375rem;
      max-width: 50rem;
      color: #ffffff;
      @media (max-width: $breakpoint-small) {
        padding: 3.125rem 0;
      }
    }
  }
  &.innerpage--middleContent {
    .header-content {
      padding: 6.25rem 0 15.9375rem;
      max-width: 73.4375rem;
      margin: 0 auto;
      // ----------------
      @media (max-width: $breakpoint-large) {
        padding: 6.25rem 0 14rem;
      }
      @media (max-width: $breakpoint-medium) {
        padding: 6rem 0 12rem;
      }
      @media (max-width: $breakpoint-small) {
        padding: 5rem 0 8rem;
      }
      @media (max-width: $breakpoint-medium-small) {
        padding: 4rem 0 6rem;
      }
      @media (max-width: $breakpoint-very-small) {
        padding: 4rem 0 3.125rem;
      }
      // ----------------
      h6 {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.5;
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-14;
        }
        @media (max-width: $breakpoint-very-small) {
          font-size: $font-size-12;
          text-align: left;
        }
      }
      h2 {
        font-weight: 700;
        @media (max-width: $breakpoint-very-small) {
          text-align: left;
        }
      }
      p {
        opacity: 0.7;
        max-width: 48.75rem;
        margin: 0 auto;
        font-weight: 500;
        line-height: 2;
        font-size: $font-size-18;
        @media (max-width: $breakpoint-small) {
          font-size: $font-size-16;
        }
        @media (max-width: $breakpoint-very-small) {
          font-size: $font-size-14;
          text-align: left;
        }
      }
    }
  }
  &.team--headercontent {
    .header-content {
      p {
        opacity: 0.7;
        // max-width: 33.125rem;
        max-width: 50rem;
      }
    }
  }
  &.portfolio--headercontent{
     .header-content {
       max-width: 100%;
       h2{
         max-width: 25rem;
       }
      p {
        opacity: 0.8;
        max-width: 55em;
      }
    }
  }
  &.innerpage--headercontent{
    .header-content {
       max-width: 55em;
       p{
         opacity: 0.8;
       }
    }
  }
}
