@import "../../styles/config";
.company{
  .services-section{
    .container{
      max-width: 64.375rem;
      .top-content{
        .content{
          h5{
            font-weight: 600;
            line-height: 1.7;
          }
          p{
            font-size: $font-size-18;
            @media (max-width:$breakpoint-medium){
              font-size: $font-size-16;
            }
            @media (max-width:$breakpoint-very-small){
              font-size: $font-size-14;
            }
          }
        }
      }
    }
    .services-grid{
      padding: 1.875rem 0;
    }
  }
}
.codage_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6.25rem;
    max-width: 67.8125rem;
    padding: 14.375rem 0;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    background-image: url('../../img/codage.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    @media (max-width:$breakpoint-medium){
      max-width: 100%;
      padding-left: 4em;
      padding-right: 4em;
      grid-gap: 0;
    }
    @media (max-width:$breakpoint-small){
      padding: 7rem 3em 0;
    }
    @media (max-width:$breakpoint-medium-small){
      background-size: 450px;
      background-position: top -16px left 20px;  
    }
    @media (max-width:$breakpoint-very-small){
      padding: 5rem 2.5em 0;
      background-size: 380px;
      background-position: top -16px left 16px;
    }
    @media (max-width:400px){
      background-size: 320px;
      background-position: top -10px left 16px;
    }
    h2{
      font-size: 3.125rem;
      @media (max-width:$breakpoint-extra-large){
        font-size:2.8rem;
      }
      @media (max-width:$breakpoint-large){
        font-size: 2.5rem;
      }
      @media (max-width:$breakpoint-medium){
        font-size: 2rem;
      }
      @media (max-width:$breakpoint-small){
        font-size: 1.75rem;
      }
    }
    @media (max-width: $breakpoint-medium){
      grid-template-columns: repeat(1, 1fr);
    }
    p{
      font-size: $font-size-18;
      @media (max-width:$breakpoint-medium){
        font-size: $font-size-16;
      }
      @media (max-width:$breakpoint-very-small){
        font-size: $font-size-14;
      }
    }
}
.work-companies-section{
.work-companies-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    margin: 0 0 4.375rem;
    @media (max-width:$breakpoint-medium){
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
      margin: 0 0 3rem;
    }
    @media (max-width:$breakpoint-medium-small){
      margin: 0 0 2.5rem;
      grid-gap: 2.5rem;
    }
    @media (max-width:$breakpoint-medium-small){
      margin: 0 0 2rem;
      grid-gap: 2rem;
    }
    .right{
      margin-top: 6.25rem;
      @media(max-width: $breakpoint-medium){
        margin-top: 0;
      }
    }   
}
 .work-companies-content{
      max-width: 76.5625rem;
      margin: 0 auto;
      p{
        letter-spacing: 0.125em;
        font-size: $font-size-22;
        font-weight: $medium;
        line-height: 1.9;
        color: #000000;
        @media (max-width:$breakpoint-medium){
          font-size: $font-size-20;
        }
        @media (max-width:$breakpoint-small){
          font-size: $font-size-18;
        }
        @media (max-width:$breakpoint-very-small){
          font-size: $font-size-16;
        }
      }
    }
  }
.bottom-content{
    margin: 2.8125rem 0 0;
  }
