@import "../../styles/config";
.featured-cases-content{
    h5{
        color: $white-color;
        letter-spacing: 0.175em;
        opacity: 0.8;
        font-weight: 500;
    }
}
.featured-cases-container{
    position: relative;
    &::before {
        content: "";
        display: block;
        background: #000000;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding-bottom: 17.125%;
    }
}