@import "../../styles/config";

.singlepost {
  background: var(--lightGrey);
  .singlepost--backbutton {
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1em;
    cursor: pointer;
    svg {
        transition: transform 0.2s ease-out;
        transform: translateX(0);
        height: 1.2em;
    }
  }
  .singlepost--content {
    background: white;
    padding: 8rem 8rem 4rem 8rem;

    .singlepost--meta {
        font-size: 1rem;
        margin: 0 0 2rem 0;
        text-align: center;

        > * + * {
            margin-left: 0.75em;
        }
    }
    .singlepost--title {
        text-align: center;
        line-height: 1.2;
    }
    .singlepost--innercontent {
        padding: 0 8rem;
    }

    .singlepost--pagination {
        margin: 4rem 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .singlepost--pagination--link {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;


            &.next {
                margin-left: auto;
            }
  
        }
    }

  }

}


@media (max-width: $breakpoint-large) {
  .singlepost--content {
    padding: 4rem 2rem;

    .singlepost--innercontent {
        padding: 0;
    }
  }
}






