@import "../../styles/config";
// .Approch {
//   .pageheader{
//     .container{
//       .header-content{
//         max-width: 50rem;
//       }
//     }
//   }
// }
.company{
  .services-section{
    .container{
      max-width: 64.375rem;
    }
    .services-grid{
      padding: 1.875rem 0;
    }
  }
}
.codage_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6.25rem;
    max-width: 67.8125rem;
    padding: 14.375rem 0;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    background-image: url('../../img/codage.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    h2{
      font-size: 3.125rem;
    }
}
.work-companies-section{
.work-companies-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    margin: 0 0 4.375rem;
    .right{
      margin-top: 6.25rem;
    }   
}
 .work-companies-content{
      max-width: 76.5625rem;
      margin: 0 auto;
      p{
        letter-spacing: 0.125em;
        font-size: $font-size-22;
        font-weight: $medium;
        line-height: 1.9;
        color: #000000;
      }
    }
  }
.bottom-content{
    margin: 2.8125rem 0 0;
  }
.approch-row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.6875rem;
  max-width: 72.5rem;
  margin: 0 auto;
  position: relative;
  padding: 11.1875rem 0;
  &:nth-child(even){
    direction: rtl;
    @media (max-width:$breakpoint-medium){
      direction: unset;
    }
  }
  &:nth-child(2){
    padding-bottom: 15.1875rem;
  }
  &:last-child{
    padding-bottom: 0;
  }
  @media (max-width:$breakpoint-extra-large){
    grid-gap: 4rem;
    padding: 7rem 0;
  }
  @media (max-width:$breakpoint-large){
    grid-gap: 3rem;
    padding: 6.5rem 0;
  }
  @media (max-width:$breakpoint-medium){
    grid-gap: 2rem;
    padding: 6rem 0;
  }
  @media (max-width:$breakpoint-small){
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 3fr;
    padding: 5rem 0;
  }
  @media (max-width:$breakpoint-very-small){
    grid-gap: 1rem;
    padding: 3rem 0;
  }
  &:nth-child(n+2){
    @media (max-width:$breakpoint-medium){
      padding-bottom: 0;
    }
  }
  .approch-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
    @media (max-width:$breakpoint-medium){
      justify-content: flex-start;
    }
    h3{
      font-weight: 400;
      vertical-align: middle;
      display: flex;
      align-items: center;
      direction: ltr;
      @media (max-width:$breakpoint-extra-large){
        margin-bottom: 1.2rem;
      }
      @media (max-width:$breakpoint-large){
        margin-bottom: 1.1rem;
      }
      @media (max-width:$breakpoint-medium){
        margin-bottom: 1rem;
      }
      @media (max-width:$breakpoint-small){
        margin-bottom: 0.5rem;
      }
      span{
        font-size: 3.75rem;
        opacity: 0.2;
        font-weight: 300;
        margin-right: 1rem;
        @media (max-width:$breakpoint-extra-large){
          font-size: 3.5rem;
        }
        @media (max-width:$breakpoint-large){
          font-size: 3rem;
        }
        @media (max-width:$breakpoint-medium){
          font-size: 2.5rem;
        }
        @media (max-width:$breakpoint-small){
          font-size: 2rem;
        }
        @media (max-width:$breakpoint-very-small){
          font-size: 1.5em;
        }
      }
    }
    p{
      font-size: $font-size-18;
      letter-spacing: 0.075em;
      color: #000000;
      opacity: 0.5;
      line-height: 1.8;
      direction: ltr;
      @media (max-width:$breakpoint-medium){
        font-size: $font-size-16;
      }
      @media (max-width:$breakpoint-medium){
        font-size: $font-size-14;
      }
    }
    .approch-heading{
      font-size:7.5rem;
      color: #000000;
      font-weight: 700;
      line-height: 0.925;
      margin: auto 0;
      display: inline-flex;
      align-items: center;
      @media (max-width:$breakpoint-extra-large){
        font-size: 6.5rem;
      }
      @media (max-width:$breakpoint-large){
        font-size: 5.5rem;  
      }
      @media (max-width:$breakpoint-medium){
        font-size: 4.5rem;  
        margin: 0;
      }
      @media (max-width:$breakpoint-small){
        font-size: 3.5rem;  
      }
      @media (max-width:$breakpoint-very-small){
        font-size: 3.125rem;  
      }
    }
    @media (max-width:$breakpoint-medium){
      &:first-child:after{
        content: "";
        background-image: url('../../img/approch-shape-resp.svg');
        display: block;
        height: 16rem;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: auto 100%;
        left: 0;
        right: 0;
        top: 5rem;
        @media (max-width:$breakpoint-small){
          height: 14rem;
          top:8rem;
        }
        @media (max-width:$breakpoint-very-small){
          height: 18rem;
          top:8rem;
        }
      }
    }
  }
  .approch-content-row{
      padding: 1.875rem 0;
      text-align: left;
      &:first-child{
        @media (max-width:$breakpoint-medium){
          padding: 5rem 0 0;
        }
        @media (max-width:$breakpoint-small){
          padding: 7rem 0 0;
        }
      }
      @media (max-width:$breakpoint-large){
        padding: 1.8rem 0 0;
      }
      @media (max-width:$breakpoint-medium){
        padding: 1.5rem 0 0;
      }
      @media (max-width:$breakpoint-small){
        padding: 1.3rem 0 0;
      }
  }
  &.approch-shape-after{
    padding: 0 0 7.1875rem;
    @media (max-width:$breakpoint-medium){
      padding: 0;
    }
  }

  &.approch-shape-after::after,
  &.approch-shape-before::after{
    content: "";
    display: block;
    height: 33.75rem;
    position: absolute;
    left: 5rem;
    right: 5rem;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: auto 100%;
    @media (max-width:$breakpoint-extra-large){
      height: 30rem;
    }
    @media (max-width:$breakpoint-large){
      height: 25rem;
    }
    @media (max-width:$breakpoint-medium){
      content: none;
    }
  }
  &.approch-shape-after::after{
    background-image: url('../../img/approch-shape-after.svg');
    top: 60%;
  }
  &.approch-shape-before::after{
    bottom: 65%;
    background-image: url('../../img/approch-shape-before.svg');
  }
}
