@import "../../styles/config";

.postsection {
  .postsection--grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    &> * {
      width: calc(33.33% - 2rem);
      margin-bottom: 4rem;
    }
    
  }

  @supports (display: grid) {
    .postsection--grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4rem;

      &> * {
        width: auto;
        margin: 0;
      }
    }  
  }

  button {
    margin-top: 1rem;
    margin-top: 5rem;
    background: white;
    border: 2px solid black;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover {
      background: black;
      border: 2px solid white;
      color: white;
    }
  }
  .postsection--Title {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 4rem auto;
    line-height: 1.2;
  }

}
@media (max-width: $breakpoint-large) {
  .postsection--grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .postsection--grid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}
