@import "../../styles/config";
.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.875rem;
    @media (max-width:$breakpoint-medium){
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-item{
        position: relative;
        border-radius: 0.625rem;
        overflow: hidden;
        .portfolio-content {
            padding: 8.4375rem 2.8125rem 3.4375rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(-50%, #000000), color-stop(89.65%, rgba(0, 0, 0, 0)));
            background: linear-gradient(360deg, #000000 -50%, rgba(0, 0, 0, 0) 89.65%);
            @media (max-width:$breakpoint-extra-large){
                padding: 7rem 2.5rem 3rem;
            }
            @media (max-width:$breakpoint-large){
                padding: 5rem 2.3rem 2.5rem;
            }
            @media (max-width:$breakpoint-medium){
                padding: 3rem 2rem 2.3rem;
            }
            @media (max-width:$breakpoint-small){
                padding: 2rem 1.5rem 2rem;
            }
            @media (max-width:$breakpoint-very-small){
                padding: 1.5rem 1.3rem 1.5rem;
            }
            h3 {
                font-weight: 600;
                line-height: 1.25;
                color: #ffffff;
                margin: 0 0 0.625rem;
                padding: 0;
                letter-spacing: 0.025em;
                @media (max-width:$breakpoint-medium){
                    margin: 0 0 0.6rem;
                }
                @media (max-width:$breakpoint-small){
                    margin: 0 0 0.5rem;
                }
                @media (max-width:$breakpoint-very-small){
                    margin: 0 0 0.4rem;
                }
            }
            p {
                font-size: $font-size-16;
                font-weight: normal;
                margin: 0;
                padding: 0;
                color: #ffffff;
                @media (max-width:$breakpoint-medium){
                    font-size: $font-size-14;
                }
                @media (max-width:$breakpoint-very-small){
                    font-size: $font-size-12;
                }
            }
        }
    }
}
.loadMore-footer{
    text-align: center;
    margin: 4.375rem 0 0;
    @media (max-width:$breakpoint-extra-large){
        margin: 3rem 0 0;
    }
    @media (max-width:$breakpoint-medium){
        margin: 2rem 0 0;
    }
    @media (max-width:$breakpoint-extra-small){
        margin: 1.5rem 0 0;
    }
}