@import "../../styles/config";
.lightContentStyle{
  .CareerPage{
    .header-content{
      padding: 6.25rem 0;
      max-width: 68.125rem;
      h2,p{
        color: $white-color;
      }
      p{
        opacity: 0.7;
      }
    }
  }
}
.teamAnimation-container{
  width: 100%;
  padding: 8.125rem 0;
  .gatsby-image-wrapper{
    width: 100%;
  img{
    width: 100%;
  }
  }
}
.companyActivity-carousel{
  display: flex;
  padding: 8.125rem 0 0;
  overflow: hidden;
  .companyActivity-Item{
    display: block;
    padding: 0 1.875rem;
    &:nth-child(odd){
      padding-top: 3.75rem;
    }
    .gatsby-image-wrapper{
      border-radius: 0.625rem;
      overflow: hidden;
      margin: 0 0 0.625rem;
    }
    h6{
      font-size: $font-size-16;
      font-weight: $normal;
    }
  }
}

.wwc-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8.4375rem;
  @media (max-width: $breakpoint-extra-large){
    grid-gap: 7rem;
  }
  @media (max-width:$breakpoint-large){
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
  @media (max-width:$breakpoint-medium){
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }
  @media (max-width:$breakpoint-small){
    grid-gap: 1.5rem;
  }
  .wwc-item{
    h2{
      font-size: 2.5rem;
      padding: 0;
      margin: 0 0 1.5625rem;
      font-weight: 600;
      @media (max-width:$breakpoint-large){
        font-size: $font-size-24;
        margin: 0 0 1.3rem;
      }
      @media (max-width:$breakpoint-medium){
        font-size:$font-size-22;
        margin: 0 0 1.1rem;
        br{
          display: none;
        }
      }
      @media (max-width:$breakpoint-small){
        margin: 0 0 1rem;
      }
      @media (max-width:$breakpoint-very-small){
        margin: 0 0 0.5rem;
      }
    }
    p{
      font-size: $font-size-14;
      letter-spacing: 0.07em;
      line-height: 1.5;
    }
  }
}
.codage-habitation{
  padding: 0 0 8.125rem;
  @media (max-width:$breakpoint-extra-large){
    padding: 0 0 7rem;
  }
  @media (max-width:$breakpoint-large){
    padding: 0 0 5rem;
  }
  @media (max-width:$breakpoint-medium){
    padding: 0 0 3rem;
  }
  @media (max-width:$breakpoint-small){
    padding: 0 0 2rem;
  }
  .codage-habitation-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.874rem;
    @media (max-width:$breakpoint-large){
      grid-gap: 1.5rem;
    }
    @media (max-width:$breakpoint-medium){
      grid-gap: 1rem;
    }
  }
  .codage-habitation-textStyle{
    text-align: center;
    font-size: 6.25rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.115em;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    @media (max-width:$breakpoint-extra-large){
      font-size: 5.7rem;
    }
    @media (max-width:$breakpoint-large){
      font-size: 5rem;
    }
    @media (max-width:$breakpoint-medium){
      font-size: 4rem;
    }
    @media (max-width:$breakpoint-small){
      font-size: 3rem;
    }
  }
}