@import "../../styles/config";
.footer{
    background-color: $black-color;
    color: white;
    padding: 8.125rem 0 1.25rem;
    @media (max-width: $breakpoint-small) {
        padding: 1.875rem 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
    .footer-content{
        max-width: 35.125rem;
        .footer-title{
            font-size: $font-size-70;
            font-weight: $weight-bold;
            margin-bottom: 5.625rem;
            @media (max-width: $breakpoint-extra-large) {
                font-size: $font-size-48;
            }
            @media (max-width: $breakpoint-large) {
                font-size: $font-size-40;
            }
            @media (max-width: $breakpoint-medium) {
                font-size: $font-size-30;
            }
            @media (max-width: $breakpoint-small) {
                font-size: $font-size-28;
                margin-bottom: 2.1875rem;
            }
        }
    }
    .footer-nav{
        max-width: 25rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-small) {
            max-width: 100%;
            padding:  0 0 1rem;
        }
        .footer-navItem{
            padding: 0.625rem 0;
            a{
                text-decoration: none;
                font-size: $font-size-22;
                font-weight: $medium;
                @media (max-width: $breakpoint-extra-large) {
                    font-size: $font-size-20;
                }
                @media (max-width: $breakpoint-large) {
                    font-size: $font-size-18;
                }
                @media (max-width: $breakpoint-medium) {
                    font-size: $font-size-16;
                }
                @media (max-width: $breakpoint-small) {
                    font-size: $font-size-14;
                }
            }
        }
    }
    .footer-top{
        display: flex;
        justify-content: space-between;
        @media (max-width: $breakpoint-small) {
            display: block;
        }
        .footer-right{
            display: flex;
            flex-direction: column;
            text-align: right;
            @media (max-width: $breakpoint-small) {
                text-align: left;                
            }
            a.footer-link{
                color: $white-color;
                opacity: 0.5;
                text-decoration: none;
                font-size: $font-size-22;
                @media (max-width: $breakpoint-small) {
                    font-size: $font-size-12;
                    letter-spacing: 0.025em;
                    opacity: 0.5;
                    margin: 3px 0 0;
                }
            }
            .buttons-group{
                margin: auto 0 0;
                padding: 1.875rem 0 0;
                .footerButtonItem{
                    a{
                        font-size: $font-size-16;
                        font-weight: 700;
                        @media (max-width:$breakpoint-medium){
                            font-size: $font-size-14;
                        }
                        @media (max-width:$breakpoint-very-small){
                            font-size: $font-size-12;
                        }
                    }
                    + .footerButtonItem{
                    margin-left: 2.5rem;
                    @media (max-width: $breakpoint-small) {
                        margin-left: 0.625rem;
                    }
                }
                }
                // .footerButtonItem + .footerButtonItem{
                //     margin-left: 2.5rem;
                //     @media (max-width: $breakpoint-small) {
                //         margin-left: 0.625rem;
                //     }
                // }
                @media (max-width: $breakpoint-small) {
                    padding: 1rem 0 0;
                }
            }
        }
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 5.5rem 0 0;
        @media (max-width: $breakpoint-small) {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin: 1.5625rem 0 0;
        }
        .copyright{
            text-decoration: none;
            font-size: $font-size-16;
            letter-spacing: 0.025em;
            opacity: 0.7;
            color: $white-color;
            font-weight: $medium;
            @media (max-width: $breakpoint-medium) {
                font-size: $font-size-14;
             }
            @media (max-width: $breakpoint-small) {
               font-size: $font-size-12;
               margin: 3px 0 0;
            }
            @media (max-width: $breakpoint-very-small) {
                font-size: $font-size-10;
             }
        }
        .footerLinks{
            display: flex;
            .footer-navItem{
                margin-left: 2.8125rem;                
                @media (max-width: $breakpoint-small) {
                     margin-left: 0;
                      margin-right: 1.875rem;
                }
                a{
                    text-decoration: none;
                    font-size: $font-size-16;
                    letter-spacing: 0.025em;
                    opacity: 0.7;
                    color: $white-color;
                    font-weight: $medium;
                    @media (max-width: $breakpoint-medium) {
                        font-size: $font-size-14;
                     }
                    @media (max-width: $breakpoint-small) {
                       font-size: $font-size-12;
                    }
                    @media (max-width: $breakpoint-very-small) {
                        font-size: $font-size-10;
                     }
                }
            }
        }
    }
}