@import "../../styles/config";
.PortfolioInnerPage{
    .showcase-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3.125rem;
        @media (max-width:$breakpoint-medium){
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 2.5rem;
        }
        .showcase-thubmails{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.25rem;
            @media (max-width:$breakpoint-very-small){
                display: none;
            }
        }
        .gatsby-image-wrapper{
            border-radius: 0.625rem;
            overflow: hidden;
        }
    }    
    .online-ordering{
        padding: 6.25rem 0 18.75rem;
        @media (max-width:$breakpoint-extra-large){
            padding: 6rem 0 18.5rem;
        } 	
        @media (max-width:$breakpoint-large){
            padding: 5.5rem 0 18.5rem;
        }   	
        @media (max-width:$breakpoint-medium){
            padding: 4rem 0 17.5rem;
        }
        @media (max-width:$breakpoint-small){
            padding: 4.5rem 0 17.5rem;
        }
        @media (max-width:$breakpoint-medium-small){
            padding: 3.5rem 0 17.5rem;
        }
        @media (max-width:$breakpoint-very-small){
            padding: 3.125rem 0 16.5rem;
        }
        h2{
            font-size:3.25rem;
            margin-top: 1.25rem;
            &:first-child{
                margin-top: 0;
            }
            @media (max-width:$breakpoint-extra-large){
                font-size: 2.5rem;
            }
            @media (max-width:$breakpoint-large){
                font-size: 2rem;
            }
            @media (max-width:$breakpoint-medium){
                font-size: 1.5rem;
            }
            @media (max-width:$breakpoint-small){
                font-size: 1rem;
            }
        }
        p{
            font-size: $font-size-18;
            letter-spacing: 0.025em;
            padding: 0 0 1.25rem;
            margin: 0;
            @media (max-width:$breakpoint-medium){
                font-size: $font-size-16;
            }
            @media (max-width:$breakpoint-very-small){
                font-size: $font-size-14;
            }
        }    
    }
    .online-ordering-images{
        margin: -14.375rem 0 0;
        h2{
            font-size:3.25rem;
            font-weight: 500;
            margin-top: 1.25rem;
            @media (max-width:$breakpoint-extra-large){
                font-size: 2.5rem;
            }
            @media (max-width:$breakpoint-large){
                font-size: 2rem;
            }
            @media (max-width:$breakpoint-medium){
                font-size: 1.5rem;
            }
            @media (max-width:$breakpoint-small){
                font-size: 1rem;
            }
        }
        .online-ordering-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3.125rem;
            margin: 0 0 3.125rem;
            @media (max-width:$breakpoint-medium){
                grid-template-columns: 100%;
                margin: 0 0 2.5rem;
                grid-gap: 2.5rem;
            }
            @media (max-width:$breakpoint-very-small){
                margin: 0 0 2rem;
                grid-gap: 2rem;
            }
             .gatsby-image-wrapper{
                border-radius: 0.625rem;
                overflow: hidden;
                border-radius: 10px;
                img{
                    height: 40rem;
                    @media (max-width:$breakpoint-extra-large){
                        height: 35rem;
                    }
                    @media (max-width:$breakpoint-large){
                        height: 30rem;
                    }
                    @media (max-width:$breakpoint-medium){
                        height: 25rem;
                    }
                    @media (max-width:$breakpoint-small){
                        height: 20rem;
                    }
                }
             }
            .gatsby-image-wrapper:last-child{
                grid-column-start: 1;
                grid-column-end: second;
                @media (max-width:$breakpoint-medium){
                    grid-column-start: unset;
                    grid-column-end: unset;
                }
            }
        }
        .optimizing-footer{
            // h2{
            //     @media (max-width:$breakpoint-very-small){
            //         font-size: $font-size-28;
            //     }
            // }   
            p{
                font-size: $font-size-14;
            }
            .social{
                @media (max-width:$breakpoint-large){
                    margin: 2.3rem 0 1.7rem;
                }
                @media (max-width:$breakpoint-medium){
                    margin: 2rem 0 1.5rem;
                }
                @media (max-width:$breakpoint-small){
                    margin: 1.5rem 0 1rem;
                }
                a{
                    text-indent: -100em;
                    @media (max-width:$breakpoint-extra-large){
                        margin: 0 2.3rem 0 0;
                    }
                    @media (max-width:$breakpoint-large){
                        margin: 0 2rem 0 0;
                    }
                    @media (max-width:$breakpoint-medium){
                        margin: 0 1.5rem 0 0;
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                    @media (max-width:$breakpoint-small){
                        height: 1.3rem;
                        width: 1.3rem;
                    }
                }
            }
        }
    }
    .success-stories{
        padding-bottom: 0;
        h2{
            font-size:3.25rem;
            font-weight: 500;
            @media (max-width:$breakpoint-extra-large){
                font-size: 2.5rem;
            }
            @media (max-width:$breakpoint-large){
                font-size: 2rem;
            }
            @media (max-width:$breakpoint-medium){
                font-size: 1.5rem;
            }
            @media (max-width:$breakpoint-small){
                font-size: 1.75rem;
            }
        }
    }
}




