@import "../../styles/config";
.home{
  .Testimonials{
    //padding-top: 0;
  }
}
.Testimonials{    
    .top-content{
      padding: 0;
      max-width: 20rem;
      margin: 0 auto;
    }
  }
 .testimonial-content{
    max-width: 61.875rem;
    margin: 0 auto;
    text-align: center;
    padding: 2.875rem 0;
    position: relative;
    @media (max-width: $breakpoint-small) {
      padding: 1.5625rem 0;
    }
    p{
      opacity: 0.5;
      line-height: 1.8;
      font-weight: $medium;
       @media (max-width: $breakpoint-small) {
          font-size: $font-size-12;
        }
    }
    &:before{
      content: "";
      width: 5.75rem;
      height: 5.75rem;
      background-image: url('../../img/quotation-mark.svg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100%;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -2.8rem;
      top: 0;
      @media (max-width: $breakpoint-small) {
        width: 3rem;
        height: 3rem;
        margin-left: -1.5rem;
      }
    }
  }
.react-tabs__tab-list{
  padding: 0;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.75rem;
  margin: 3.4375rem 0 0;
  list-style: none;
  @media (max-width: $breakpoint-small) {
    margin: 0;
  }
  @media (max-width: $breakpoint-medium) {
    grid-gap: 1rem;
  }
  @media (max-width: $breakpoint-small) {
    grid-template-columns: 1fr;  
  }
  .react-tabs__tab{
    border-top: 3px solid transparent;
    padding: 1.25rem 0 0;
    &.react-tabs__tab--selected{
      border-color: #000EE6;
    }
    @media (max-width: $breakpoint-small) {
      border-top: 0;
      padding: 0;
    }
  }  
}
.testimonial-header{
    display: flex;
    align-items: center;
    cursor: pointer;
    @media (max-width: $breakpoint-small) {
      justify-content: center;
    }
    .image{
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1.25rem;
      @media (max-width: $breakpoint-medium) {
        width: 4rem;
        height: 4rem;
      }
      @media (max-width: $breakpoint-small) {
        width: 2.8125rem;
        height: 2.8125rem;
        margin-right: 0.5rem;
      }
      .gatsby-image-wrapper{
        width: 100%;
        height: 100%;
      }
    }
     h6{
      font-size: $font-size-16;
      font-weight: $medium;
      line-height: 2;
      color: $black-color;
      margin: 0;
      padding: 0;
      line-height: 2;
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-14;
        line-height: 1.2;
      }
    }
    p{
      font-size: $font-size-12;
      font-weight: 500;
      margin: 0;
      padding: 0;
      @media (max-width: $breakpoint-small) {
        font-size: $font-size-10;
      }
    }
  }
.swiper{
  overflow: hidden;
  .slick-track{
    display: flex;
    .testimonial-header{
      justify-content: center;
    }
  }
  .slick-dots{
    display: flex !important;
    justify-content: center;
    margin: 1.5625rem 0 0;
    padding: 0;
    list-style: none;
    li{
      padding: 0;
      margin: 0.3125rem;
      button{
        border: 0;
        text-indent: -99em;
        overflow: hidden;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #DDDDDD;
        padding: 0;
        line-height: 0;
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transition: 0.3s ease-in-out;
      }
      &.slick-active{
        button{
          background: #000;
          transform: scale(1);
          -webkit-transform: scale(1);
        }
      }
    }
  }
}
