@import "../../styles/config";
.email-form{
  display: flex;
  margin: 1.875rem 0 0;
  .email-input{
    font-family: $baseFont;
    font-size: $font-size-14;
    font-weight: $normal;
    color: $black-color;
    height: 3.125rem;
    padding: 0 1rem;
    border: 1px solid #000EE6;
    box-sizing: border-box;
    border-radius: 3.125rem;
    margin: 0;
    max-width: 16.25rem;
  }
  .button{
    margin: 0;
  }
}
.pageheader 
  .header-content
  .email-form{
  .button{
    margin: 0;
    min-width: 11rem;
    margin-left: 0.625rem;
    padding: 0.625rem 1.25rem;
    &::after{
      margin-left: 1rem;
    }
  }
} 