@import "../../styles/config";
.ServicesPage{
  .darkOverlay{
    display: none;
  }
}
.process-section{
  &.dark{
    @media (max-width : $breakpoint-medium){
      display: none;
    }
  }
  .process-container{
    position: relative;
    .process-shape{
      position: absolute;
      left: 6rem;
      right: 6rem;
      bottom: 8.375rem;
      top: 8.375rem;
    }
    .process-title{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      color: #fff;
      font-size: 4.5rem;
      letter-spacing: 0.4em;
      font-weight: 600;
    }
    .process{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 2.9375rem;
      grid-row-gap: 2.25rem;
      .process-item{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background: #161618;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        span{
          font-weight: $medium;
          font-size: $font-size-18;
          display: block;
          margin: 0 0 0.625rem;
        }
        h5{
          line-height: 1.22
        }
        &:first-child{ 
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          // grid-row: 2 / span 3;
        }
        &:nth-child(2){ 
          grid-column-start: 2;
          grid-row-start: 1;
          // grid-row: 1 / span 2;
        }
        &:nth-child(3){ 
          grid-column-start: 4;
          grid-row-start: 3;
        }
        &:nth-child(4){ 
          grid-column-start: 5;
          grid-row-start: 2;
        }
        &:nth-child(5){ 
            grid-column-start: 4;
            grid-row-start: 1;
        }
        &:nth-child(6){ 
          grid-column-start: 2;
          grid-row-start: 3;
        }
      }
    }
  }
}
