@import "../../styles/config";

.nav{
  background: transparent;
  padding: 3.125rem 0;
  z-index: 2;
  &.nav-active{
    .nav--section{
      .nav--container{
        .logo-container{
          a{
            .logo{
              img{
                @media (max-width:$breakpoint-small){
                  filter: invert(1);
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint-small) {
    padding: 1.25rem 0;
  }
  .logo{
    max-width: 14.375rem;
    @media (max-width: $breakpoint-small) {
      max-width: 9.5625rem;
    }
  }
  .nav--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu{
    display: flex;
    margin-left: auto;
    @media (max-width: $breakpoint-small) {
      display: none;
    }
    .nav-item{
      margin-left: 3.125rem;
      .navlink{
        font-size: $font-size-18;
        color: $black-color;
        text-decoration: none;
        font-weight: $medium;
        display: block;
      }
    }
  }
  .nav--menubutton{
    background-color: transparent;
    border: 0;
    margin-left: 3.125rem;
    width: auto;
    display: flex;
    align-items: center;
    position: relative;
    .closeMenu-text{
      font-size:$font-size-18;
      opacity: 0.5;
      margin-right: 3.125rem;
      position: absolute;
      right: 0;
      min-width: 6em;
      opacity: 0;
      display: none;
      @media (max-width:$breakpoint-medium){
        font-size: $font-size-14;
      }
      @media (max-width:$breakpoint-small){
        font-size: $font-size-12;
      }
    }
    > div{
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
      &.menu-bar{
        background-image: url('../../img/menu.svg');     
        
      }
      &.menu-close{
        background-image: url('../../img/close.svg');
      }
    }    
  }
  &.nav-active{
    position: fixed;
    z-index: 91;
    left: 0;
    right: 0;
    top: 0 !important;
    .menu{
      display: none;
    }
    .nav--menubutton{
      .closeMenu-text{
        display: block;
        opacity: 1;
      }
    }
  }
}
.navLightStyle{
  position: relative;
  .nav{
    display: #fff;
    .menu{
      .nav-item{       
        .navlink{
          color: $white-color;          
        }
      }
    }
  }
}
.nav--fullpage{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9;
  display: flex;
  .nav--image{
    width: 55%;
    @media (max-width:$breakpoint-small){
      display: none;
    }
    .gatsby-image-wrapper{
      height: 100%;
    }
    img{
      max-width: 100%;
      height: 100%;
    }
  }
  .fullNav--container{
    width: 100%;
    padding: 10.5625rem 8.125rem 2.5rem;
    display: flex;
    flex-direction: column;
    @media (max-width : $breakpoint-small){
      padding: 8rem 2rem 2.5rem;
    }
    @media (max-width : $breakpoint-very-small){
      padding: 8rem 1.5rem 2.5rem;
    }
    .nav--menu {
        max-height: 100%;
        overflow: auto;
    }
    .nav-item{
      padding: 1rem 0;
      @media (max-width :$breakpoint-medium){
        padding: 0.9rem 0;
      }
      @media (max-width :$breakpoint-very-small){
        padding: 0.7rem 0;
      }
      .navlink{
        font-size: $font-size-40;
        color: $black-color;
        text-decoration: none;
        font-weight: $medium;
        display: block;
        line-height: 1.2;
        @media (max-width : $breakpoint-medium){
          font-size: $font-size-30;
        }
      }
    }
    .fullNav--footer{
      margin: auto 0 0;
      padding: 1.875rem 0 0;
      .footer_links{
        display: flex;
        .footer_links_item{
          text-decoration: none;
          font-size: 1.5625rem;
          color: $black-color;
          opacity: 0.5;
          margin-right: 3.125rem; 
          display: flex;
          align-items: center;
          @media (max-width : $breakpoint-very-small){
            font-size: $font-size-22;
          }
          &::after{
            content: "";
            display: block;
            background-image: url('../../img/arrow-black.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 1.5625rem;
            height: 1.5625rem;
            margin-left: 0.625rem;
          }
        }
      }
      .social_links{
        display: flex;
        margin: 1rem 0 0;
        .social-item{
          margin: 0 1rem 0 0;
          @media (max-width :$breakpoint-medium){
            margin: 0 0.9rem 0 0;
          }
          @media (max-width :$breakpoint-very-small){
            margin: 0 0.7rem 0 0;
          }
          .social-link{
            font-size: $font-size-16;
            opacity: 0.5;
            text-decoration: none;
            @media (max-width :$breakpoint-medium){
              font-size: $font-size-14;
            }
            @media (max-width :$breakpoint-very-small){
              font-size: $font-size-12;
            }
          }
        }
      }
    }
  }
}