@import "../../styles/config";
.accordion{
  margin: 0 auto;
  max-width: 56.25rem;
  .accordion__item{
    border: 1px solid #FFA400;    
    &:hover,
    &.isAccordion{
      outline: 2px solid #FFA400;
      .accordion__heading{
        .accordion__button{
          padding: 1.375rem 3.75rem;
          @media (max-width: $breakpoint-small){         
            padding: 0;
          }
        }
      }
    }
    &.isAccordion{
      .accordion__heading{
        .accordion__button{          
          &::after{
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(20%, -80%) rotate(180deg);
          }
        }
      }
      &+.accordion__item{
        margin: 1.25rem 0 0;
      }
    }
    .accordion__heading{
      .accordion__button{
        padding: 1.375rem 3.75rem;
        @media (max-width: $breakpoint-small){         
            padding: 0;
          }
      }
      @media (max-width: $breakpoint-small){         
        padding: 1.375rem;
      }
      .accordion__button{
        font-size: $font-size-30;
        font-weight: $weight-bold;
        position: relative;
        cursor: pointer;
        @media (max-width: $breakpoint-small){
          font-size: $font-size-24;
        }
     
        &::after{
          content: "";
          width: 1.5rem;
          height: 1.5rem;
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(0, -100%);
          background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          opacity: 1;
          display: block;
          border-radius: 1.5rem 0 0;
          position: absolute;
          top: 50%;
          right: 4rem;
          @media (max-width: $breakpoint-small){         
            width: 1.25rem;
            height: 1.25rem;
            right: 1rem;            
          }
        }
      }
    }
    .accordion__panel{
      padding: 1.25rem 3.75rem;
      @media (max-width: $breakpoint-small){
        padding: 1.25rem;
      }
      p{
        margin: 0 0 1.25rem;
      }
      h6{
        margin-top: 2.5rem;
      }
    }
  }
}