@import "../../styles/config";

.PortfolioPage{
  // .header-content{
  //   h2,p{
  //     color:$white-color;
  //   }
  // }
  .portfolio-workSection{
    h2{
      @media(max-width:$breakpoint-extra-large){
        font-size: 2.5rem;
      }
      @media(max-width:$breakpoint-large){
        font-size: 2rem;
      }
      @media(max-width:$breakpoint-medium){
        font-size: 1.5rem;
      }
      @media(max-width:$breakpoint-small){
        font-size: 1.375rem;
      }
    }
  }
}
.work_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.875rem;
    @media (max-width: $breakpoint-large) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $breakpoint-small) {
      grid-template-columns: repeat(1, 1fr);
    }
    .work-item{
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 147%;
      width: 100%;
      border-radius: 0.625rem;
      overflow: hidden;    
      @media (max-width:$breakpoint-extra-large){
        padding-bottom: 130%;
      }
      @media (max-width:$breakpoint-large){
        padding-bottom: 100%;
      }
      @media (max-width:$breakpoint-medium){
        padding-bottom: 70%;
      }
      @media (max-width:$breakpoint-small){
        padding-bottom: 50%;
      }
      .work-image{
        border-radius: 0.625rem;
        overflow: hidden;        
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .gatsby-image-wrapper{
         
        }
        img{
          width: 100%;
        }
      }
     
      .work-content{
        padding: 8.4375rem 2.8125rem 3.4375rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(360deg, #000000 -50%, rgba(0, 0, 0, 0) 89.65%);
        @media (max-width: $breakpoint-medium) {
          padding: 8.4375rem 1.875rem 1.875rem;
        }
        @media (max-width: $breakpoint-small) {
          top: 0;
          padding: 1.25rem 1.875rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        h3{          
          font-weight: $semiBold;
          line-height: 1.25;
          color: $white-color;
          margin: 0 0 0.625rem;
          padding: 0;
          letter-spacing: 0.025em;
          @media (max-width: $breakpoint-small) {
            margin: 0 0 0.5rem;
            line-height: 1.2
          }
        }
        p{
          font-size: $font-size-16;
          font-weight: 500;
          margin: 0;
          padding: 0;
          color: $white-color;
          @media (max-width: $breakpoint-medium) {
            font-size: $font-size-12;
          }
        }
      }
    }  
}