@import "../../styles/config";
.pageheader{
  &.postheader {
  position: relative;
  .header-content{
    padding: 8.125rem 0 6.25rem;
    max-width: 40.75rem;
    h2{
      letter-spacing: 0.04em;
      font-weight: 500;
      line-height: 1.25;
    }
    .singlepost--meta--date{
      font-size: $font-size-14;
      font-weight: 500;
      line-height: 1.8;
      color: $white-color;
      padding: 0;
      letter-spacing: 0.01em;
      opacity: 0.5;
      margin: 0 0 1rem;
      display: block;
    }
  }
  .post--author{
    display: flex;
    align-items: center;
    .post--authorimage{
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: #C4C4C4;
      margin-right: 1rem;
    }
    .post--authorcontent{
      h6{
        font-size: $font-size-16;
        font-weight: 500;
        line-height: 1.5;
        color: $white-color;
        margin: 0 0 5px;
        padding: 0;
        @media (max-width: $breakpoint-small) {   
          font-size: $font-size-14;
        }
      }
      p{
        font-size: $font-size-12;
        font-weight: $normal;
        margin: 0;
        padding: 0;
        color: $white-color;
        opacity: 0.5;
        @media (max-width: $breakpoint-small) {   
          font-size: $font-size-10;
        }
      }
    }
  }
}
}
