@import "./src/styles/_config";
.save_container{
    padding: 3.75rem 0 6.25rem;
    @media (max-width: $breakpoint-small){
        padding: 3.75rem 0 5rem;
    }
    .save-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6.75rem;
        margin: 3.75rem 0 0;
        @media (max-width: $breakpoint-small){
            display: block;
            margin: 2.5rem 0 0;
        }
        .contact-content{
            p{
                color: $lightpink-color;
                margin: 0;
                padding: 0;
            }
            > p{
                font-size: $font-size-12;
            }
            .contact-info{
                margin: 0 0 3.125rem;
                @media (max-width: $breakpoint-small){
                    margin: 0 0 2.5rem;
                }
                .contact-item{
                    display: flex;
                    align-items: center;
                    padding: 0.625rem 0;
                    @media (max-width: $breakpoint-small){
                        padding:0;
                        margin: 0 0 1.25rem;
                    }
                    span{
                        width: 6.375rem;
                        height: 6rem;
                        display: block;
                        background: #FFA400 0% 0% no-repeat padding-box;
                        mix-blend-mode: multiply;                    
                        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
                        font-size: $font-size-40;
                        font-weight: $weight-bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        margin-right: 1.25rem;
                    }
                    p{
                        flex: 1
                    }
                }
            }
        }
        .contact-form{
            button{
                margin: 1.25rem 0 0;
            }
            @media (max-width: $breakpoint-small){
                margin: 2.5rem 0 0;
            }
        }
    }
    .frm .Dropdown-root.is-open .Dropdown-menu{
        max-height: 6.5em;
        overflow: auto;
    }
}
